body{
	background: rgb(41, 41, 41);
}
.mdui-card,.mdui-chip,#drawer{
	background: rgb(36, 36, 36);
	color: #fff;
}
.md-links li{
	background: rgb(36, 36, 36);
}
.md-links a{
	color: #009cff !important;
}