<center><h1><strong>教育局寒假延长通知</strong></h1></center>
<p>　</p>
<center><p>在全国各省一百五十多万教师的不懈催促下，71%的初中生和100%的高中生被全功率重启。但遗憾的是，寒假作业总量已经超过了全部学生的总输出功率，中学生，已经错失了补作业的最佳时机。</p></center>
<center><h2><p>由于电影流浪地球的影响，学生们计划点燃作业。得知此消息后，为了保障学校（社会公共财产）安全，教育局决定延长寒假。</p></h2></center>
<p>　</p>
<p>　</p>
<p>　</p>
<p>　</p>
<p>　</p>
<center><h1><strong>MOSS：</strong></h1></center>
<p>　</p>
<center><p><img src='./1.jpg' alt='img' referrerPolicy='no-referrer' /> </p></center>
<center><p><strong>年轻人，你的思想很危险啊！！！</strong></p></center>
